@page "/kantorpolisi/details/{id}"

@inject ProperBerdasi.Blazapp.Data.MainContext dbContext
@inject IWebHostEnvironment env
@inject Microsoft.AspNetCore.Components.NavigationManager navigation

<h3>Details</h3>

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">
            <div class="card-body">
                @if (Model == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {

                    <div class="callout callout-info">
                        <h5>kantorpolisi</h5>
                    </div>
                    <dl class="row">

                        <dt class="col-sm-3 bkanan">Nama :</dt>
                        <dd class="col-sm-9">@Model.Nama</dd>


                    </dl>

                    <div>

                        <button class="btn btn-outline-primary" @onclick="@edit">Edit</button>
                        &nbsp;
                        <button class="btn btn-outline-secondary" @onclick="@cancel">Kembali</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string id { get; set; }

    int iid = 0;

    PRPA_KantorPolisi Model = null;

    // protected override async void OnInitialize()
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(id, out iid))
        {
            navigation.NavigateTo("/NotFound");
        }
        base.OnInitialized();

        Model = await dbContext.KantorPolisiSet.FindAsync(iid);
        if (Model == null)
        {
            navigation.NavigateTo("/NotFound");
        }

    }

    private void cancel()
    {
        navigation.NavigateTo("/kantorpolisi");
    }

    void edit()
    {
        navigation.NavigateTo("/kantorpolisi/edit/" + id);
    }
}
